# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Build Directories
# =========================
target/
out/
bin/
build/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Files
# =========================
.env

# =========================
# Temporary Files
# =========================
*.tmp

# =========================
# Maven
# =========================
.mvn/
dependency-reduced-pom.xml

# =========================
# Gradle
# =========================
.gradle/

# =========================
# Generated Archives
# =========================
*.war
*.ear

# =========================
# Database Config
# =========================
application.properties

# =========================
# JDBC Driver
# =========================
lib/*.jar

# =========================
# MySQL Workbench
# =========================
*.mwb

# =========================
# Java Crash Logs
# =========================
hs_err_pid*
replay_pid*